@model App.Domain.Support.SystemAnalyticsSnapshot

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SystemAnalyticsSnapshot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapturedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapturedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveCompanies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveCompanies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveSubscribers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveSubscribers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklyDeliveries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklyDeliveries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenSupportTickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenSupportTickets)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
