@model App.Domain.Support.SystemAnalyticsSnapshot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SystemAnalyticsSnapshot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapturedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapturedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveCompanies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveCompanies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveSubscribers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveSubscribers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklyDeliveries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklyDeliveries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenSupportTickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenSupportTickets)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
