@model IEnumerable<App.Domain.Core.CompanySettings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DefaultNoRepeatWeeks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectionDeadlineDaysBeforeDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowAutoSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowPauseSubscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowSkipWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumSubscriptionWeeks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDeliveryAttempts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowRedeliveryAfterFailure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintEscalationThreshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintEscalationDaysWindow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoPrioritizeFreshestStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoAssignEarliestSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedByAppUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultNoRepeatWeeks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectionDeadlineDaysBeforeDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowAutoSelection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowPauseSubscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowSkipWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumSubscriptionWeeks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDeliveryAttempts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowRedeliveryAfterFailure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintEscalationThreshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintEscalationDaysWindow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoPrioritizeFreshestStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoAssignEarliestSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company!.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedByAppUser!.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

