@model IEnumerable<App.Domain.Delivery.QualityComplaint>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EscalatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EscalationAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityComplaintType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityComplaintStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Severity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EscalatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EscalationAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company!.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer!.AddressLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery!.AddressLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityComplaintType!.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityComplaintStatus!.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

