@using App.Domain.Identity
@using Microsoft.AspNetCore.Identity
@using WebApp.Helpers
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var logoutReturnUrl = Url.Action("Index", "Landing", new { area = "" });
    var slugFromRoute = ViewContext.RouteData.Values["slug"]?.ToString();
    var registerReturnUrl = "/entry";
    if (!string.IsNullOrWhiteSpace(slugFromRoute))
    {
        registerReturnUrl = $"/{slugFromRoute}";
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@App.Resources.Views.Shared._Layout.Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@logoutReturnUrl">
            <button  type="submit" class="nav-link btn btn-link text-dark">@App.Resources.Views.Shared._Layout.Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@registerReturnUrl">Customer register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Landing" asp-action="CompanySignup">Company signup</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@App.Resources.Views.Shared._Layout.Login</a>
    </li>
}
