@model IEnumerable<App.Domain.Subscription.PlatformSubscription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlatformSubscriptionTier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlatformSubscriptionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByAppUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company!.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatformSubscriptionTier!.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatformSubscriptionStatus!.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByAppUser!.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

