@model App.Domain.Support.TenantSupportAccess

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TenantSupportAccess</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReadOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReadOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrantedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrantedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevokedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevokedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company!.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupportUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupportUser!.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrantedByAppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrantedByAppUser!.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
