@model IEnumerable<App.Domain.Support.TenantSupportAccess>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsReadOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrantedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevokedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrantedByAppUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsReadOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrantedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevokedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company!.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportUser!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrantedByAppUser!.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
