@model IEnumerable<App.Domain.Delivery.DeliveryAttempt>

@{
    ViewData["Title"] = "Delivery Attempts";
}

<h1>Delivery Attempts</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Record New Attempt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttemptNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttemptAt)
            </th>
            <th>
                Delivery
            </th>
            <th>
                Result
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttemptNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttemptAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery!.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAttemptResult!.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
